@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-text-primary-light bg-background-light dark:bg-background-dark dark:text-text-primary-dark transition-colors duration-200;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full transition-colors;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
  }
}
